.operation-sty {
  padding-left: 5px;
  padding-right: 5px;
}

.border-common {
  border: 1px dotted aqua;
}

.flex {
  display: flex;
}
.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.display-flex-space-around {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

.display-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.flex-item {

}

.margin-l-r-10 {
  margin-left: 10px;
  margin-right: 10px;
}
